BACKEND_API_BASE_URL="http://localhost:6006/api/" # NOTE: keep the trailing slash
# BACKEND_API_BASE_URL="http://127.0.0.1:6006/api/" # Local alternative

DISABLE_CLOUD_AND_GSPLAT="true" # Comment out to enable cloud and gsplat views when performance allows

EXAMPLE_KEY="example_value"
